<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <title>Tracking Things Server</title>
</head>
<body>
<h1>
    <center>2Ts - Server</center>
</h1>

<h3>
    <center><h1>Menu</h1></center>
</h3>
<center>
    <form method="POST" action="users">
        <p>
            <button style="font-size: 20px; width: 30%" type="submit">Users</button>
        </p>
    </form>

    <form method="POST" action="things">
        <p>
            <button style="font-size: 20px; width: 30%" type="submit">Things</button>
        </p>
    </form>

    <form method="POST" action="quit">
        <p>
            <button style="font-size: 20px; width: 30%" type="submit">Exit</button>
        </p>
    </form>
</center>
</body>
</html>