<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <title>Tracking Things Server</title>

</head>
<body>
<h1>
    <center>2Ts - Server</center>
</h1>

<h3>
    <center>Login</center>
</h3>
<fieldset>
    <legend>Acesso</legend>

    <form method="post" action="/post_login">
        <label>*Email: </label>
        <input required type="text" name="email">
        <label>*Senha:</label>
        <input required type="password" name="password">
        <button type="submit">Entrar</button>
    </form>
</fieldset>
</body>
</html>